@import './styles/blocks/header';
@import './styles/blocks/home';
@import './styles/blocks/about';
@import './styles/blocks/footer';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fdf8f3;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  font-size: 16px;
  font-weight: 600;

  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

h1 {
  font-weight: 600;
}

h2 {
  color: #313131;
  font-family: 'Exo', sans-serif;
  font-size: 32px;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}

a {
  color: #585858;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.background {
  background: linear-gradient(
    rgba(234, 170, 36, 0.05),
    rgba(127, 58, 106, 0.1),
    rgba(223, 40, 106, 0.05),
    rgba(235, 139, 39, 0.03),
    rgba(255, 255, 255, 0.05)
  );

  @media (min-width: 768px) {
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(127, 58, 106, 0.05),
      rgba(223, 40, 106, 0.05),
      rgba(255, 255, 255, 0.05),
      rgba(233, 169, 35, 0.03),
      rgba(235, 139, 39, 0.01)
    );
  }
}
