* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  font-size: 16px;
  font-weight: 600;

  height: 100vh;

  background: linear-gradient(
    0.3turn,
    rgba(234, 170, 36, 0.09),
    rgba(127, 58, 106, 0.09),
    rgba(223, 40, 106, 0.09),
    rgba(235, 139, 39, 0.09),
    rgba(255, 255, 255, 0.09)
  );

  @media (min-width: 768px) {
    background: linear-gradient(
      0.37turn,
      rgba(127, 58, 106, 0.05),
      rgba(223, 40, 106, 0.05),
      rgba(255, 255, 255, 0.05),
      rgba(233, 169, 35, 0.05),
      rgba(235, 139, 39, 0.05)
    );
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

h1 {
  font-weight: 600;
}

h2 {
  color: #313131;
  font-family: 'Exo', sans-serif;
  font-size: 32px;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 89.5%;
  margin: 0 auto;
}

a {
  color: #212121;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.border {
  width: 294px;
  height: 12px;
  background: #e9a923;
  position: absolute;
  bottom: 6px;
  border-radius: 21px;
  transition: all 1s linear;
  z-index: 0;
}

@media (max-width: 495px) {
  .border {
    height: 10px;
  }
}
